<!DOCTYPE html>
<html>
<head>
  <title>Image Converter</title>
  <style>
    body {
      background-color: #2c3e50;
      color: white;
      text-align: center;
    }
    #status-window {
      width: 50%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid white;
    }
    a#download-link {
      color: white;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>Image Converter</h1>
  <form>
    <input type="file" id="file-input" accept="image/png">
    <button type="button" onclick="upload()">Upload</button>
  </form>
  <br>
  <div id="status-window">
    <div id="status"></div>
    <a id="download-link" href="#" style="display: none;"></a>
  </div>
  <br>
</body>
<script>
  const ws = new WebSocket("ws://localhost:8081/convert");
  const statusDiv = document.getElementById("status");
  const downloadLink = document.getElementById("download-link");
  ws.onopen = function(event){
    statusDiv.innerHTML = "Connected";
  }
  ws.onmessage = function(event) {
    statusDiv.innerHTML = event.data;
    if (event.data.startsWith("Converted image available at: ")) {
      const key = event.data.substring(30);
      downloadLink.href = "http://0.0.0.0:8081" + key;
      downloadLink.innerHTML = "Download";
      downloadLink.style.display = "block";
    }
  }
  function upload() {
    const fileInput = document.getElementById("file-input");
    const file = fileInput.files[0];
    const fileReader = new FileReader();
    fileReader.onload = function() {
      ws.send(new Uint8Array(this.result));
    }
    fileReader.readAsArrayBuffer(file);
  }
</script>
</html>